<main class="main_listas">
    <div>
        <h2>Duelistas</h2>
        <ul class="contenedor_listas">
            <li>Jett<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li>Raze<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li>Phoenix<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li>Reyna<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li>Yoru<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li>Neon<img width="30"  src="assets/img/duelista.png" alt="duelista"></li>
        </ul>
    </div>
    <div>
        <h2>Iniciadores</h2>
        <ul class="contenedor_listas">
            <li>Breach <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li>Sova <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li>Skye <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li>Kay/o <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li>Fade <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
        </ul>
    </div>
    <div>
        <h2>Controladores</h2>
        <ul class="contenedor_listas">
            <li>Omen <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
            <li>Bristome <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
            <li>Viper <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
            <li>Astra <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
        </ul>
    </div>
    <div>
        <h2>Centinelas</h2>
        <ul class="contenedor_listas">
            <li>Sage <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
            <li>Cypher <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
            <li>Killjoy <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
            <li>Chamber <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
        </ul>
    </div>
</main>
